<div class="header">
    <div class="header-items-container">
        <div class="header-item-wrapper <%=menu=='news' ? 'active' : ''%>">
            <a href="/news">News</a>
        </div>
        <div class="header-item-wrapper <%=menu=='faq' ? 'active' : ''%>">
            <a href="/faq">Support</a>
        </div>
        <div class="header-item-wrapper <%=menu=='instruction' ? 'active' : ''%>">
            <a href="/instruction">Instruction</a>
        </div>
        <div class="header-item-wrapper <%=menu=='mylist' ? 'active' : ''%>">
            <a href="/mylist">My List</a>
        </div>
        <div class="header-item-wrapper <%=menu=='youtube-list' ? 'active' : ''%>">
            <a href="/youtube-list">Youtube PlayList</a>
        </div>
        <div class="header-item-wrapper <%=menu=='activation' ? 'active' : ''%>">
            <a href="/activation">Activation</a>
        </div>
<!--        <div class="header-item-wrapper <%=menu=='activation' ? 'active' : ''%>">-->
<!--            <a href="/reseller/login">Reseller Login</a>-->
<!--        </div>-->
    </div>
</div>
