<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-body">
            <h3 class="text-right"><%= language.name %></h3>
            <h3 class="mt-50">Or Upload Words Manually</h3>
            <form method="post" action="/admin/saveLanguageWord/<%=language.id%>">
                <div class="row">
                    <% words.map(item=>{%>
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label><%=item.name%></label>
                            <input type="text" name="language_word-<%=item.id%>"
                                   class="form-control"
                                   value="<%= typeof language_words_map[item.id]!="undefined" ? language_words_map[item.id].value : '' %>"
                            >
                        </div>
                    </div>
                    <% })%>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
