<style>
    .detail-item{
        display: grid;
        grid-template-columns: 100px auto;
    }
    .playlist-item-label{
        width:70px;
        font-weight: bold;
    }
    .playlist-item-wrapper {
        margin: 10px 0;
    }
    .playlist-item-detail-wrapper {
        display: grid;
        grid-template-columns: 70px 1fr;
    }
    .reseller-activity-label {
        margin-top: 20px;
        color: #111;
        font-size: 18px;
        font-weight: 500;
    }
    .reseller-activity-info-item span {
        display: inline-block;
        vertical-align: middle;
    }
    .reseller-activity-info-item-label {
        width: 120px;
        padding-right: 10px;
    }
    .reseller-activity-item-container {
        margin-bottom: 10px;
    }
</style>
<div class="page-content">
    <div class="panel panel-boxed">
        <div class="panel-heading">
            <h3 class="panel-title">Play List Detail</h3>
        </div>
        <div class="panel-body">
            <div class="detail-item">
                <span class="detail-item-label">Mac Address: </span>
                <span class="detail-item-content"><%=device.mac_address%></span>
            </div>
            <div class="detail-item">
                <span class="detail-item-label">Expire Date: </span>
                <span class="detail-item-content" id="expire_date"><%=device.expire_date%></span>
            </div>
            <div class="detail-item">
                <span class="detail-item-label">Urls: </span>
                <span class="detail-item-content">
                    <%playlists.map(url=>{%>
                        <div class="playlist-item-wrapper">
                            <div class="playlist-item-detail-wrapper">
                                <div class="playlist-item-label">Url: </div>
                                <div class="playlist-item-value"><%=url.url%></div>
                            </div>
                        </div>
                    <%})%>
                </span>
            </div>
            <div class="detail-item">
                <span class="detail-item-label">Transactions: </span>
                <span class="detail-item-content">
                    <%transactions.map(transaction=>{%>
                        $<%=transaction.amount%> <%=transaction.status%><br>
                    <%})%>
                </span>
            </div>
            <%if(reseller_activities.length>0){%>
            <div class="reseller-activity-items-container">
                <div class="reseller-activity-label">Reseller Activations For This Device: </div>
                <%reseller_activities.map(item=>{%>
                    <div class="reseller-activity-item-container">
                        <div class="reseller-activity-info-item">
                            <span class="reseller-activity-info-item-label">Reseller Email:</span>
                            <span class="reseller-activity-info-item-value"><%=item.reseller_email%></span>
                        </div>
                        <div class="reseller-activity-info-item">
                            <span class="reseller-activity-info-item-label">From:</span>
                            <span class="reseller-activity-info-item-value"><%=item.from_date%></span>
                        </div>
                        <div class="reseller-activity-info-item">
                            <span class="reseller-activity-info-item-label">To:</span>
                            <span class="reseller-activity-info-item-value"><%=item.to_date%></span>
                        </div>
                        <div class="reseller-activity-info-item">
                            <span class="reseller-activity-info-item-label">Activity Time: </span>
                            <span class="reseller-activity-info-item-value"><%=item.activity_time%></span>
                        </div>
                    </div>
                <%})%>
            </div>
            <%}%>

            <div class="detail-item">
                <%if(device.is_trial!=2){%>
                    <button class="btn btn-success btn-activate">Activate</button>
                <%}else{%>
                    <button class="btn btn-danger btn-deactivate">Deactivate</button>
                <%}%>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="activate-confirm-modal">
    <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Confirm Activation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to activate this playlist?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="confirmActivate(true)">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deactivate-confirm-modal">
    <div class="modal-dialog modal-simple modal-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Confirm DeActivation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to deactivate this playlist?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="confirmActivate(false)">Confirm</button>
            </div>
        </div>
    </div>
</div>
<div>
    <script>
        var current_button;
        var current_playlist_id="<%=device._id%>";
        $(document).on('click','.btn-activate', function () {
            current_button=$(this);
            $('#activate-confirm-modal').modal('show');
        })
        $(document).on('click','.btn-deactivate', function () {
            current_button=$(this);
            $('#deactivate-confirm-modal').modal('show');
        })

        function confirmActivate(action=true) {
            $.ajax({
                method:'post',
                dataType:'json',
                url:site_url+"/admin/playlist/activate",
                data:{
                    playlist_id:current_playlist_id,
                    action:action ? 1 : 0
                },
                success:data=>{
                    $('#activate-confirm-modal').modal('hide');
                    $('#deactivate-confirm-modal').modal('hide');
                    $('#expire_date').text(data.expire_date);
                    if(action){
                        $(current_button).text('Deactivate').removeClass('btn-activate').addClass('btn-deactivate');
                        $(current_button).removeClass('btn-success').addClass('btn-danger');
                    }
                    else{
                        $(current_button).text('Activate').removeClass('btn-deactivate').addClass('btn-activate');
                        $(current_button).removeClass('btn-danger').addClass('btn-success');
                    }
                }
            })
        }
    </script>
</div>






